doctype html
html(lang="en")
  head
    title= 'Node.js Template'
  body
  p You just added a new element in the object
  p Type /download in url to download the file

  a(class='button' href='/download') Download new file <br />

  a(class='button' href='/') Click here for homePage

  a(class='button' href='/stats') Click here for performance test